*{
    box-sizing: border-box;
    margin: 0;
}

body{
    max-width: 1400px;
    margin: auto;
}
.user{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.userInfo{
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: orange;
    gap: 5%;
}
.userInfo>p{
width: 150px;
margin: auto;
    margin-top:2%;

    color: white;
}
.getComments{
    width: 100%;
    height: 100px;
    margin-top:10%;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 1400px;
}
.post{
    border: 1px solid black;
    width: 15%;
    margin-top: 5%;
flex-grow: 1;
}